body{
    margin: 0;
    padding: 0;
}

.saying h3{
    margin-top: 70px;
    margin-bottom: 60px;
  }
  
  .col{
    margin-bottom: 30px;
  }
  
  .card-body{
    background-color: rgb(245, 245, 245);
    border-left: 5px solid #4b62e9;
    /* border: 0px;
    border-radius: 0px; */
  }
  
  .card-body .review{
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
  }
  
  .card-body h4{
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
    text-align: right;
  }
 .event-preview{
    font-size: large;
    text-align: center;
    margin-top: 40px;
  }

  body{
    margin: 0;
    padding: 0;
}

.header {
	background: #f1f1f1;
}
.navbar{
    display: inline-flex;
}
.navbar .navleft{
    display:flex;
}


.header .navbar{
	color: rgb(17, 17, 17);
	font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
	display: inline-flex;	
}

.navleft .logo{
	padding: 20px 80px 20px 5px;
    margin: 0px 10px 10px 10px;
}

.header .home{
	color: rgb(136, 136, 136);
	padding: 20px 55px 20px 5px;
	transition: all 1s;
}

.header .services{
	color: rgb(136, 136, 136);
	padding: 20px 35px 20px 5px;
}


.header .features-btn{
	color: rgb(136, 136, 136);
	padding: 20px 35px 20px 5px;
}


.header .about{
    color: rgb(136, 136, 136);
    padding: 20px 35px 20px 5px;
}

.header .contact{
	color: rgb(136, 136, 136);
	padding: 20px 35px 20px 5px;
}


.header .login{
	color: white;
	padding: 20px 10px 20px 5px;
}


.header .signup{
	padding: 10px 10px 10px 10px;
	border: 1px solid white;
	border-radius: 10px;

	margin: 10px 10px 20px 10px;
}
img{
  width: 150px;
  height: 150px;
}
.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 20px;
  list-style-type: none;
  padding: 1em;
}

li span {
  display: block;
  font-size:40px;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}